<h1>Create Doctor User</h1>

<form class="col-md-12" (ngSubmit)="OnSubmit()" [formGroup]="doctorFrom">
    <div class="form-row">
        <div class="form-group col-md text-center">
            <img src="../../../assets/images/defaultImage.png" width="70%">
        </div>
        <div class="form-group col-md">
            <div class="form-row">
                <div class="form-group col-12">
                    <label >First Name</label>
                    <input type="text" class="form-control" id="firstName" formControlName = "firstName">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <label >Last Name</label>
                    <input type="text" class="form-control" id="lastName" formControlName = "lastName">
                </div>
            </div>
        </div>
        <div class="form-group col-md">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <label>Sex</label>
                <div class="form-check mb-2">
                    <input type="radio" id="sex1" name="sex" value="Masculino" 
                    class="form-check-input" formControlName = "sex">
                    <label class="form-check-label" for="sex1">Maculino</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="sex2" name="sex" value="Femenino"
                    class="form-check-input" formControlName = "sex">
                    <label class="form-check-label" for="sex2">Femenino</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md">
            <label>BirthDate</label>
            <input type="date" class="form-control" id="birthDate" formControlName = "birthDate">
        </div>
        <div class="form-group col-md">
            <label>ID</label>
            <input type="text" class="form-control" id="id" formControlName = "id">
        </div>
    </div>

    <div class="form-group row col-md mx-0 px-0">
        <label class="col-md-2 col-form-label pl-0">Speciality(s)</label>
        <input type="text" class="form-control col-md-10" id="diseases" formControlName = "speciality">
    </div>

    <div class="form-group row col-md mx-0 px-0">
        <label class="col-md-2 col-form-label pl-0">Sub-Speciality(s)</label>
        <input type="text" class="form-control col-md-10" id="diseases" formControlName = "subSpeciality">
    </div>

    <div class="form-row mb-4 justify-content-end">
        <button type="button" class="btn btn-danger mx-3">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
