
/* .mat-row:nth-child(even){
    background-color: red;
}
        
.mat-row:nth-child(odd){
    background-color: blue;
} */

.mat-header-row{
    background-color: coral;
}

.mat-header-cell{
    color: black;
}
