.custom-container{
    min-height: calc(100% - 54px);
}

.sidebar{
    background-color: #64B5F6;
    box-shadow: 0 0 15px rgba(194, 177, 177, 0.3);
    position: fixed;
    width: 300px;
}

.content{
    margin-left: 300px;
    width: calc(100% - 300px);
}

.custom-link{
    text-decoration: none;
    color: black;
}