<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-custom">
    <a class="navbar-brand lobster-font" href="#">
      MedicalAssistant
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav w-100">

        <form class=" mx-auto w-50" 
        (ngSubmit)="onSearch()" [formGroup]="form"
        *ngIf="this.SearchBar">

          <div class="input-search d-flex w-100">
            <input *ngIf="SearchBar" type="text" class="form-control" placeholder="Search" 
              style="border-radius: 50px;"
              formControlName = "username"
              (keyup) = "onKeypress($event)"
              [(ngModel)]="searchValue" (ngModelChange)="setUserId()"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let patient of filteredPatients | async" [value]="patient">
                {{patient.usuario}}
              </mat-option>
            </mat-autocomplete>
  
            <button type="submit" class="btn btn-costume px-3" ><fa-icon [icon]="faSearch"></fa-icon></button>
          </div>

        </form>
    
        <a class="logout-icon ml-auto my-auto" (click)="onLogout()">
          <fa-icon [icon]="faSignOutAlt"></fa-icon>
        </a>
      </div>
    </div>

</nav>
<div class="w-100 margin"></div>