@font-face{
    font-family: "Lobster Regular";
    src: url("../../../assets/fonts/Lobster-Regular.ttf");
}

.lobster-font{
    font-family: "Lobster Regular";
    color: white;
    font-size: 25px;
}

.lobster-font:hover{
    color: white;
}



.navbar-custom{
    background-color: #2196F3;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    min-height: 54px;
}

.navbar-link,
.navbar-toggler-icon,
.logout-icon{
    color: white;
    font-size: 20px;
    transition: all 0.3s;
}

.logout-icon{
    cursor: pointer;
}
.navbar-link:hover,
.logout-icon:hover{
    transform: scale(1.1);
}

.margin{
    margin-top: 54px;
}


.input-search{
    border-radius: 25px;
    order: 1px solid #ced4da;
    background: white;
}

.input-search input{
    border: 0px;
    background: transparent;
    width: 100%;
}

.input-search .form-control:focus {
    border-color: transparent;
    box-shadow: none;
}


.btn-costume{
 background-color: transparent;
 border: 0px;
}



