<app-navbar [SearchBar]="false"></app-navbar>
<div class="d-flex custom-container">
    <div class="d-flex flex-column align-items-center h-100 py-3 px-3 sidebar">
        <img src="../../../assets/images/defaultImage.png" width="150px" height="150px">
        <div class="d-flex flex-column align-items-start" style="width: 150px;">
            <p class="mt-2"><span class="font-weight-bold">Name: </span>{{patient.nombre}} {{patient.apellidos}}</p>
            <p class="mt-2"><span class="font-weight-bold">Birthdate: </span>{{patient.fecha_nacimiento}}</p>
        </div>
    </div>
    <div class="d-flex flex-column align-items-center px-5 py-5 content">

        <div style="width: 100%;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>